.wrapper {
  display: block;
  width: 100%;
}

.container {
  display: block;
}

.label {
  margin-bottom: 6px;
}

.input {
  display: block;
  width: 100%;
  padding: 12px 12px;
  background: none;
  border: 1px solid rgb(var(--color-foreground));
  border-radius: 8px;
  color: rgb(var(--color-foreground));
  font-size: 1rem;
  font-family: inherit;
  outline: none;
}

.help,
.error {
  display: block;
  margin-top: 4px;
  font-size: 12px;
  font-style: italic;
  color: gray;
}

.error {
  color: red;
}

