.nativePickerInput {
  position: relative;
  cursor: pointer;
  padding: 8px;

  transition: all .2s ease;

  &:hover {
    scale: 1.05;
  }
  &:active {
    transition: none;
    scale: .98;
  }

  color: var(--color);
}

.icon {
  position: relative;
  display: block;
}

.shade {
  position: absolute;
  translate: 1px 1px;
  color: rgb(var(--color-foreground));
}

.input {
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
